<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="baseUrl" value="http://www.ubs.com" xdt:Transform="Replace"/>
    <add key="adminLogin" value="adminlogin" xdt:Transform="Insert"/>
    <add key="adminPassword" value="adminpassword" xdt:Transform="Insert"/>
    <add key="userLogin" value="userlogin" xdt:Transform="Insert"/>
    <add key="userPassword" value="userpassword" xdt:Transform="Insert"/>
  </appSettings>
</configuration>